{% extends "layout.html" %}
{% block content %}
	<div class"content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Register Event</legend>
				<div class="form-group">
					{{ form.name.label(class="form-control-label") }}
					{% if form.name.errors %}
						{{ form.name(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.name(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.starting_date.label(class="form-control-label") }}
					{% if form.starting_date.errstraring_dateors %}
						{{ form.starting_date(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.starting_date.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.starting_date(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.ending_date.label(class="form-control-label") }}
					{% if form.ending_date.errors %}
						{{ form.ending_date(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.ending_date.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.ending_date(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.value.label(class="form-control-label") }}
					{% if form.value.errors %}
						{{ form.value(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.value.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.value(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="list-group">
					{{ form.modality.label(class="list-group-label") }}
					{{ form.modality(class="list-group-item") }}
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</fieldset>
		</form>
	</div>
{% endblock content %}